<!-- <footer>
  <p>This is the footer</p>
</footer> -->
<noscript>
  <p>Please enable JavaScript to continue using this website / Пожалуйста, включите JavaScript, чтобы пользоваться
    этим сайтом</p>
</noscript>
<script src="/js/utils/scroll-up.js"></script>
<script src="/js/utils/theme-change.js"></script>
</body>

</html>
