@use "../utils/functions" as *;
@use "../utils/variables" as *;

.btn-accent {
  text-align: center;
  padding: 12px 0;
  background-color: var(--accent);
  color: var(--text-btn);
  cursor: pointer;
  height: 48px;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 16px 40px 0px var(--accent-shadow);
  &:hover {
    background-color: var(--accent-hover);
  }
  &:active {
    background-color: var(--accent-active);
    box-shadow: none;
  }
}

.btn-secondary {
  background-color: rgba(75, 126, 255, 0.15);
  color: var(--accent);
  cursor: pointer;
  padding: 12px 0;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  &:hover {
    box-shadow: 0 0 0 2px var(--accent);
  }
  &:active {
    box-shadow: none;
    background-color: var(--accent-active);
    color: var(--text-btn);
  }
}

.btn-tertiary {
  display: flex;
  align-items: center;
  background: none;
  color: $black;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: var(--bg-primary);
  }
  &:active {
    background-color: rgba(75, 126, 255, 0.15);
  }
}

.btn-back {
  display: inline-flex;
  margin-bottom: rem(16);
  font-weight: 600;
  & a {
    display: inline-flex;
    align-items: center;
  }
  & svg {
    fill: var(--icon-primary);
  }
  & a,
  svg {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  &:hover a {
    color: var(--accent-hover);
  }
  &:active a {
    color: var(--accent-active);
  }
  &:hover svg {
    fill: var(--accent-hover);
  }
  &:active svg {
    fill: var(--accent-active);
  }
}
