@use "../utils/functions" as *;
@use "../utils/variables" as *;

.scroll-up {
  position: fixed;
  z-index: 1000;
  bottom: rem(48);
  right: rem(48);
  width: rem(48);
  height: rem(48);
  border-radius: rem(48);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-tertiary);
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(rem(24));
  visibility: hidden;
  opacity: 0;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  & svg {
    transition: 0.3s;
  }
  &:hover {
    background-color: var(--accent-primary-hover);
  }
  &:hover .scroll-up-icon {
    fill: var(--icon-secondary);
  }
}

.scroll-up_active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
