@use "../utils/functions" as *;
@use "../utils/variables" as *;

.logo-theme-wrapper {
  display: flex;
  align-items: center;
  &__logo {
    margin-right: 24px;
  }
}

.theme-os-icon {
  background-image: url(/icons/theme-os.svg);
  background-repeat: no-repeat;
  background-position: 13px 8px;
  background-size: 18px;
}

.theme-light-icon {
  background-image: url(/icons/theme-light.svg);
  background-repeat: no-repeat;
  background-position: 11px 7px;
  background-size: 20px;
}

.theme-dark-icon {
  background-image: url(/icons/theme-dark.svg);
  background-repeat: no-repeat;
  background-position: 12px 6px;
  background-size: 20px;
}

.theme-switcher {
  position: relative;
  &__menu {
    display: none;
    opacity: 0;
    position: absolute;
    top: 36px;
  }
  &__menu_active {
    display: block;
    opacity: 1;
    background-color: var(--bg-secondary);
    box-shadow: 0px 16px 40px 0px $gray-text;
    border-radius: 8px;
    padding: 8px;
    width: 156px;
  }
  &__menu-item {
    padding: 2px 4px;
  }
}
//////////////////////////////////КНОПКИ
.theme-switcher__btn {
  padding: 8px 16px 8px 36px;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: var(--text-primary);
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--bg-primary);
  }
  &:active {
    background-color: rgba(75, 126, 255, 0.15);
  }
}

.switcher-main-btn {
  background-color: var(--bg-primary);
  &:hover {
    background-color: rgba(75, 126, 255, 0.15);
  }
  &:active {
    background-color: rgba(45, 96, 227, 0.2);
  }
}

.switcher-main-btn_active {
  background-color: rgba(75, 126, 255, 0.15);
  box-shadow: 0 0 0 2px var(--accent);
}
//////////////////////////////////
.theme-active {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--accent);
  &:hover {
    background-color: rgba(75, 126, 255, 0.15);
  }
  &:active {
    background-color: rgba(45, 96, 227, 0.2);
  }
}
