@use "../utils/functions" as *;
@use "../utils/variables" as *;

.logo-theme-wrapper {
  display: flex;
  align-items: center;
  &__logo {
    display: flex;
    align-items: center;
    margin-right: rem(24);
  }
}

.theme-switcher {
  position: relative;
  &__menu {
    display: none;
    opacity: 0;
    position: absolute;
    top: rem(40);
  }
  &__menu_active {
    display: block;
    opacity: 1;
    background-color: var(--bg-tertiary);
    box-shadow: 0 16px 40px 0 var(--shadow);
    border-radius: rem(8);
    padding: rem(8);
    width: rem(160);
  }
  &__menu-item {
    padding: rem(2) rem(4);
  }
}

.theme-switcher__btn {
  height: rem(36);
  padding: rem(0) rem(16);
  background-color: transparent;
  display: flex;
  align-items: center;
  color: var(--btn-secondary-text);
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  border-radius: rem(4);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--btn-secondary-hover);
  }
  &:active {
    background-color: var(--btn-secondary-active);
  }
  & svg {
    margin-right: rem(6);
  }
}

.switcher-main-btn {
  background-color: var(--btn-secondary-bg);
  &:hover {
    background-color: var(--btn-secondary-hover);
  }
  &:active {
    background-color: var(--btn-secondary-active);
  }
}

.switcher-main-btn_active {
  background-color: var(--accent-primary-transparent);
  box-shadow: 0 0 0 2px var(--accent-primary);
  &:hover {
    background-color: var(--accent-primary-transparent);
  }
}

.theme-active {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--accent-primary);
  &:hover {
    background-color: var(--accent-primary-transparent);
  }
  &:active {
    background-color: var(--accent-primary-transparent-dark);
  }
}
