@use "../utils/functions" as *;
@use "../utils/variables" as *;

.index-grid {
  display: grid;
  grid-template-columns: 808px 256px;
  gap: 20px;
  align-items: start;
}

.post {
  background-color: var(--bg-secondary);
  padding: 24px;
  border-radius: 8px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  &__img {
    display: block;
    margin: rem(16) auto;
    max-height: rem(548);
  }
}
