@use "../utils/functions" as *;
@use "../utils/variables" as *;

.index-grid {
  display: grid;
  grid-template-columns: rem(808) rem(256);
  gap: rem(20);
  align-items: start;
}

.post {
  background-color: var(--bg-secondary);
  padding: rem(24);
  border-radius: rem(8);
  &:not(:last-child) {
    margin-bottom: rem(16);
  }
  &__img {
    display: block;
    margin: rem(16) auto;
    max-height: rem(548);
  }
}
