@use "../utils/functions" as *;
@use "../utils/variables" as *;

.new-post-grid {
  display: grid;
  grid-template-columns: rem(808) rem(256);
  gap: rem(20);
}

.new-post-form {
  background-color: var(--bg-secondary);
  padding: rem(24);
  border-radius: rem(8);
  & h1 {
    margin-bottom: rem(24);
  }
  &__list-item {
    margin-bottom: rem(20);
  }
  &__list-item textarea {
    height: rem(96);
  }
  &__btn-success {
    width: 100%;
  }
}

.new-form-control {
  background-color: transparent;
  color: var(--text-primary);
  width: 100%;
  height: rem(48);
  border: rem(2) solid var(--stroke);
  border-radius: rem(4);
  padding: rem(8) rem(12); // отступы внутри поля до текста
  margin-top: rem(8); // отступ до лейбла
  transition: all 0.3s ease-in-out; //плавность подсветки при фокусе на элементе
  &:focus {
    box-shadow: 0 0 0 2px var(--accent-primary-hover);
  }
}

.new-post-rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-secondary);
  border-radius: rem(8);
  &__list {
    list-style-type: decimal;
  }
  &__list-item {
    padding: rem(12) rem(24) rem(12) 0;
    margin-left: rem(32);
  }
  &__list-item:last-child {
    padding-bottom: rem(0);
  }
  &__list-item:not(:last-child) {
    border-bottom-color: var(--stroke);
    border-bottom-style: solid;
    border-bottom-width: rem(1);
  }
}
