@use "../utils/functions" as *;
@use "../utils/variables" as *;

.post-content-grid {
  display: grid;
  grid-template-columns: rem(808) rem(256);
  gap: rem(20);
  align-items: start;
}

.post-content {
  background-color: var(--bg-secondary);
  padding: rem(24);
  border-radius: rem(8);
  margin-bottom: rem(32);
  &__btns {
    display: flex;
    gap: rem(20);
  }
  &__form-delete {
    width: 25%;
  }
  &__btn-delete {
    width: 100%;
    height: 100%;
  }
  &__btn-edit {
    width: 75%;
  }
  &__image {
    display: block;
    margin: rem(16) auto;
    max-height: rem(648);
  }
}
