@use "../utils/functions" as *;
@use "../utils/variables" as *;

$black: #222222;
$white: #ffffff;
$background: #e9eff4;
$gray-lines: #e7e7e7;
$gray-text: #969696;
$accent: #4b7eff;
$accent-hover: #62a1ff;
$accent-active: #2d60e3;
$accent-shadow: #4b7eff66;

// :root {
//   --black: #{$black};
//   --white: #{$white};
//   --background: #{$background};
//   --gray-lines: #{$gray-lines};
//   --gray-text: #{$gray-text};
//   --accent: #{$accent};
//   --accent-hover: #{$accent-hover};
//   --accent-active: #{$accent-active};
//   --accent-shadow: #{$accent-shadow};
// }

:root:not(.theme-light):not(.theme-dark) {
  @media (prefers-color-scheme: light) {
    --bg-primary: #e9eff4;
    --bg-secondary: #ffffff;
    --text-primary: #222222;
    --text-secondary: #969696;
    --text-btn: #ffffff;
    --stroke: #e7e7e7;
    --accent: #4b7eff;
    --accent-hover: #62a1ff;
    --accent-active: #2d60e3;
    --accent-shadow: #4b7eff66;
  }
  @media (prefers-color-scheme: dark) {
    --bg-primary: #222222;
    --bg-secondary: #34383b;
    --text-primary: #ffffff;
    --text-secondary: #969696;
    --text-btn: #ffffff;
    --stroke: #535050;
    --accent: #4b7eff;
    --accent-hover: #62a1ff;
    --accent-active: #2d60e3;
    --accent-shadow: #4b7eff66;
  }
}

html.theme-light {
  --bg-primary: #e9eff4;
  --bg-secondary: #ffffff;
  --text-primary: #222222;
  --text-secondary: #969696;
  --text-btn: #ffffff;
  --stroke: #e7e7e7;
  --accent: #4b7eff;
  --accent-hover: #62a1ff;
  --accent-active: #2d60e3;
  --accent-shadow: #4b7eff66;
}

html.theme-dark {
  --bg-primary: #222222;
  --bg-secondary: #34383b;
  --text-primary: #ffffff;
  --text-secondary: #969696;
  --text-btn: #ffffff;
  --stroke: #535050;
  --accent: #4b7eff;
  --accent-hover: #62a1ff;
  --accent-active: #2d60e3;
  --accent-shadow: #4b7eff66;
}

// :root[theme='dark']{
//   /*Тут наши стили*/
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --black: #{$black-theme};
//     --white: #{$white-theme};
//     --background: #{$background-theme};
//     --gray-lines: #{$gray-lines-theme};
//     --gray-text: #{$gray-text-theme};
//     --accent: #{$accent-theme};
//     --accent-hover: #{$accent-hover-theme};
//     --accent-active: #{$accent-active-theme};
//     --accent-shadow: #{$accent-shadow-theme};
//   }
// }

//через класс
// .dark {
//   --black: #{$black};
//   --white: #{$white};
//   --background: #{$background};
//   --gray-lines: #{$gray-lines};
//   --gray-text: #{$gray-text};
//   --accent: #{$accent};
//   --accent-hover: #{$accent-hover};
//   --accent-active: #{$accent-active};
//   --accent-shadow: #{$accent-shadow};
// }

// через атрибут
// [dark] {
//   $black: #ffffff;
//   $white: #222222;
//   $background: #34383b;
//   $gray-lines: #535050;
//   $gray-text: #969696;
//   $accent: #4b7eff;
//   $accent-hover: #62a1ff;
//   $accent-active: #2d60e3;
//   $accent-shadow: #4b7eff66;
// }

// $bg-main: #e9eff4;
// $bg-block: #ffffff;
// $text-main: #222222;
// $text-secondary: #969696;
// $text-btn: #ffffff;
// $line: #e7e7e7;
// $accent: #4b7eff;
// $accent-hover: #62a1ff;
// $accent-active: #2d60e3;
// $accent-shadow: #4b7eff66;

// кейс
// задача - поменять цвет текста основного в светлой теме
// в вариаблах преременные scss и отдельно на двух страницах переменные css тем
// зайти и поменять в файле светлой теме css я не могу так как там запись такого вида -
// --black: #{$text-main}; - тупо нечего менять, нет кода цветов
// открываю файл с вариаблами scss, там переменные в два столбика светлой темы сначала со своим набором кодов
// и затем стлобик с набором кодов темной темы, меняю код text-main и он автоматически применяется и в файле
//с css темой

// кейс
// задача - добавить новый цвет текста в светлой теме
// в вариаблах преременные scss и отдельно на двух страницах переменные css тем
//захожу сначала в вариаблы scss создаю пременную и потом еще на странице светлой темы css надо вписать новую переменную и ее юзать потом
//НЕУДОБНО

//Выход - все должно быть обьявлено в одном месте с кодами и чтобы добавлять новый цвет надо было только в одном месте одной строчкой,значит переменные scss отпадают, юзаем для этого только css переменные
//так меньше путаницы и запары.
//решить где эти css переменные писать - либо в этом файле, либо для каждой темы в отдельном.
